out/
target/
build/
test_run_dir/
test_run_dir.old/
project/target
docs/generated
docs-target/
*.fir
*.v
*.anno.json
*.swp
*~
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
vcode-rocc.jar

# LSP stuff
.bloop
.metals
/project

software/software-model/__pycache__/

# Promts
docs/log.md
docs/matsolve.md
docs/checkroots.md
docs/coordinator.md

# Cluade skills
.claude/